﻿
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-12">
            <form name="anonymousBeer" class="form-horizontal">
                <div class="form-group">
                    <label for="ccategoryname" class="col-sm-2 control-label">Category Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ccategoryname" placeholder="please enter category name" data-ng-model="categoryname" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-10">
                        <input type="submit" value="Get" data-ng-click="getanonymousbeers()" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <h4>Available beers</h4>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width:800px">
                    <tr>
                        <th>Beer Name</th>
                        <th>Manufacturer</th>
                        <th>Category Name</th>
                        <th>Country</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                    <tr data-ng-repeat="beer in beers">
                        <td>
                            <p>{{ beer.Name }}</p>
                        </td>
                        <td>
                            <p>{{ beer.Manufacturer }}</p>
                        </td>
                        <td>
                            <p>{{ beer.CategoryViewModel.Name }}</p>
                        </td>
                        <td>
                            <p>{{ beer.Country }}</p>
                        </td>
                        <td>
                            <p>{{ beer.Price }}</p>
                        </td>
                        <td>
                            <p>{{ beer.Description }}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="divloading" data-ng-show="loading">
        <img src="~/Content/ajax-loader.gif" class="ajax-loader" />
    </div>
</div>
