﻿
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-12">
            <strong class="error">{{ error }}</strong>
            <p data-ng-hide="newbeer.addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>
            <form name="addBeer" class="form-horizontal" data-ng-show="newbeer.addMode" style="width:800px;margin:0px auto;">
                <div class="form-group">
                    <label for="cid" class="col-sm-2 control-label">Beer Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cid" placeholder="please enter name" data-ng-model="newbeer.Name" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cmanufacturer" class="col-sm-2 control-label">Manufacturer:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cmanufacturer" placeholder="please enter manufacturer" data-ng-model="newbeer.Manufacturer" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ccategory" class="col-sm-2 control-label">Category:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="ccategory" data-ng-model="newbeer.CategoryId" placeholder="please enter category" required>
                            <option ng-repeat="category in categories" value="{{category.CategoryId}}">{{category.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="ccountry" class="col-sm-2 control-label">Country:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ccountry" placeholder="please enter country" data-ng-model="newbeer.Country" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cprice" class="col-sm-2 control-label">Price:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cprice" placeholder="please enter price" data-ng-model="newbeer.Price" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cdescription" class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cdescription" placeholder="please enter description" data-ng-model="newbeer.Description" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-10">
                        <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="!addBeer.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width:1000px">
                    <tr>
                        <th>Beer Name</th>
                        <th>Manufacturer</th>
                        <th>Category Name</th>
                        <th>Country</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Archive</th>
                        <th>Action</th>
                    </tr>
                    <tr data-ng-repeat="beer in beers">
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Name }}</p>
                            <input data-ng-show="beer.editMode" type="text" data-ng-model="beer.Name" />
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Manufacturer }}</p>
                            <input data-ng-show="beer.editMode" type="text" data-ng-model="beer.Manufacturer" />
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.CategoryViewModel.Name }}</p>
                            <select data-ng-show="beer.editMode" data-ng-model="beer.CategoryId">
                                <option ng-repeat="category in categories" value="{{category.CategoryId}}">{{category.Name}}</option>
                            </select>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Country }}</p>
                            <input data-ng-show="beer.editMode" type="text" data-ng-model="beer.Country" />
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Price }}</p>
                            <input data-ng-show="beer.editMode" type="text" data-ng-model="beer.Price" />
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Description }}</p>
                            <input data-ng-show="beer.editMode" type="text" data-ng-model="beer.Description" />
                        </td>
                        <td>
                            <p>{{ beer.IsArchive }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode"><a data-ng-click="toggleEdit(beer)" href="javascript:;">Edit</a><b data-ng-hide="beer.IsArchive"> | </b><a data-ng-hide="beer.IsArchive" data-ng-click="archivebeer(beer)" href="javascript:;">Archive</a> | <a data-ng-click="deletebeer(beer)" href="javascript:;">Delete</a></p>
                            <p data-ng-show="beer.editMode"><a data-ng-click="save(beer)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(beer)" href="javascript:;">Cancel</a></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="divloading" data-ng-show="loading">
        <img src="~/Content/ajax-loader.gif" class="ajax-loader" />
    </div>
</div>