﻿
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-12">
            <strong class="error">{{ error }}</strong>
            <p data-ng-hide="newcategory.addMode"><a data-ng-click="toggleAdd()" href="javascript:;" class="btn btn-primary">Add New</a></p>
            <form name="addCategory" class="form-horizontal" data-ng-show="newcategory.addMode" style="width:1000px;margin:0px auto;">
                <div class="form-group">
                    <label for="cid" class="col-sm-2 control-label">Category Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cid" placeholder="please enter name" data-ng-model="newcategory.Name" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-10">
                        <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="!addCategory.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width:800px">
                    <tr>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                    <tr data-ng-repeat="category in categories">
                        <td>
                            <p data-ng-hide="category.editMode">{{ category.Name }}</p>
                            <input data-ng-show="category.editMode" type="text" data-ng-model="category.Name" />
                        </td>
                        <td>
                            <p data-ng-hide="category.editMode"><a data-ng-click="toggleEdit(category)" href="javascript:;">Edit</a><b data-ng-show="category.CanDelete"> | </b><a data-ng-show="category.CanDelete" data-ng-click="deletecategory(category)" href="javascript:;">Delete</a></p>
                            <p data-ng-show="category.editMode"><a data-ng-click="save(category)" href="javascript:;">Save</a> | <a data-ng-click="toggleEdit(category)" href="javascript:;">Cancel</a></p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="divloading" data-ng-show="loading">
        <img src="~/Content/ajax-loader.gif" class="ajax-loader" />
    </div>
</div>