﻿
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-12">
            <strong class="error">{{ error }}</strong>
            <form name="addConsumedBeer" class="form-horizontal" style="width:800px;margin:0px auto;">
                <h4>Add to consumed beer list</h4>
                <div class="form-group">
                    <label for="cname" class="col-sm-2 control-label">Beer Name:</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="cname" data-ng-model="newconsumedbeer.BeerId" placeholder="please enter beer" required>
                            <option ng-repeat="beer in beers" value="{{beer.BeerId}}">{{beer.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="submit" value="Add" data-ng-click="add()" data-ng-disabled="!addConsumedBeer.$valid" class="btn btn-primary" />
                        <input type="button" value="Cancel" data-ng-click="toggleAdd()" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br />

    <div class="row">
        <h4>Available beers</h4>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width:800px">
                    <tr>
                        <th>Beer Name</th>
                        <th>Manufacturer</th>
                        <th>Category Name</th>
                        <th>Country</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                    <tr data-ng-repeat="beer in beers">
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Name }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Manufacturer }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.CategoryViewModel.Name }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Country }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Price }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Description }}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>Consumed beers</h4>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="width:800px">
                    <tr>
                        <th>Beer Name</th>
                        <th>Manufacturer</th>
                        <th>Category Name</th>
                        <th>Country</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                    <tr data-ng-repeat="beer in consumedbeers">
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Name }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Manufacturer }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.CategoryViewModel.Name }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Country }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Price }}</p>
                        </td>
                        <td>
                            <p data-ng-hide="beer.editMode">{{ beer.Description }}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="divloading" data-ng-show="loading">
        <img src="~/Content/ajax-loader.gif" class="ajax-loader" />
    </div>
</div>