﻿<div class="container">
    <br />
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <strong class="error">{{ error }}</strong>
                <form name="registerAsCustomer" class="form-horizontal" style="width:800px;margin:0px auto;">
                    <div class="form-group">
                        <label for="cemail" class="col-sm-2 control-label">Email<span class="required">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cemail" data-ng-model="entity.Email" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cpassword" class="col-sm-2 control-label">Password<span class="required">*</span></label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="cpassword" data-ng-model="entity.Password" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cconfirmPassword" class="col-sm-2 control-label">ConfirmPassword<span class="required">*</span></label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="cconfirmPassword" data-ng-model="entity.ConfirmPassword" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <input type="submit" value="Register" data-ng-click="registercustomer()" data-ng-disabled="!registerAsCustomer.$valid" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr />

    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <form name="loginAsCustomer" class="form-horizontal" style="width:800px;margin:0px auto;">
                    <div class="form-group">
                        <label for="cemail" class="col-sm-2 control-label">Email<span class="required">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="cemail" data-ng-model="entitycustomerlogin.Email" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cpassword" class="col-sm-2 control-label">Password<span class="required">*</span></label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="cpassword" data-ng-model="entitycustomerlogin.Password" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <input type="submit" value="Login" data-ng-click="logincustomer()" data-ng-disabled="!loginAsCustomer.$valid" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div id="divloading" style="display:none;">
                <img src="~/Content/ajax-loader.gif" class="ajax-loader" />
            </div>
        </div>
    </div>
</div>
